:root {
    --background: #ffffff;
    --outline-color: #195272;
    --face-color: #e1f4f0;
    --tongue-color: #f9bbbb;
    --inner-bg: #cedbdd;
}

.advice-bot{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-bg {
    background: var(--inner-bg);
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: 8px solid var(--outline-color);
    position: relative;
}

.robot-head {
    height: 200px;
    width: 200px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
    border: 8px solid var(--outline-color);
    border-radius: 85px/ 60px;
    background: var(--background);
    z-index: 4;
}

/* Antenna */
.robot-head::after {
    content: "";
    position: absolute;
    top: -35px;
    height: 35px;
    width: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--outline-color);
  }

.robot-head::before {
    content: "";
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    width: 30px;
    background: var(--inner-bg);
    border: 8px solid var(--outline-color);
    border-radius: 100%;
}

.robot-face {
    height: 120px;
    width: 160px;
    background: var(--face-color);
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
    border: 8px solid var(--outline-color);
    border-radius: 45px;
}

.eyes-left, .eyes-right {
    height: 20px;
    width: 20px;
    background: var(--outline-color);
    border-radius: 100%;
    position: absolute;
    top: 40px;
}

.eyes-left {
   left: 30px 
}

.eyes-right {
    right: 30px
}

.mouth {
    height: 45px;
    width: 45px;
    border-radius: 100%;
    border: 8px solid transparent;
    border-bottom-color: var(--outline-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
}

.robot-ear-left, .robot-ear-right {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background: var(--background);
  border: 8px solid var(--outline-color);
  z-index: 3;
  top: 30px;
}
.robot-ear-left {
    left: -20px;
}

.robot-ear-right {
    right: -20px;
}

.robot-body {
  height: 50px;
  width: 100px;
  border: 8px solid var(--outline-color);
  background: var(--background);
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 25px 25px 30px 30px;
}

.robot-face::hover {
    top: 40px !important;
}

.eyes::hover {
    top: 30px !important;
}

.mouth::hover {
    background: var--(outline-color);
    border: none;
    clip-path: polygon(0% 30%, 100% 30%, 100% 100%, 0% 100%);
}

.mouth::hover::after {
    content: "";
    position: absolute;
    height: 80%;
    width: 80%;
    bottom: -30%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--tongue-color);
    border-radius: 100%;
}


#advice-btn {
    background-color: red;
    border-radius: 1em;
}

#more-advice {
    border-radius: 1em;
}

#response-div {
    display: none;
}

.footer {
    bottom: 0;
    background-color: rgb(253, 220, 109);
}