/* font-family: 'DM Serif Display', serif;
font-family: 'Koulen', cursive; */

:root {
    --background: #ffffff;
    --outline-color: #061924;
    --tongue-color: #f9bbbb;
    --inner-bg: #cedbdd;
    --body: #9fd9ae;
    --face-color: #ffe4b1;
    --mustard: #ffc966;
}

/* #9fd9ae */

body {
    background-image: url(./Wireframes.png);
    background-size: cover;
}

.greetings {
    font-family: 'Bangers', cursive;
    font-size: 3rem;  
}

.btn-text {
    font-weight: bold;
    margin: 0 auto;
}

.advice-bot{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-bg {
    background: var(--body);
    width: 220px;
    height: 250px;
    border-radius: 40%;
    border: 8px solid var(--outline-color);
    position: relative;
}

.robot-head {
    height: 200px;
    width: 200px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
    border: 8px solid var(--outline-color);
    border-radius: 85px/ 60px;
    background: var(--background);
    z-index: 4;
}

/* Antenna */
.robot-head::after {
    content: "";
    position: absolute;
    top: -35px;
    height: 35px;
    width: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--outline-color);
  }

.robot-head::before {
    content: "";
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    width: 30px;
    background: var(--body);
    border: 8px solid var(--outline-color);
    border-radius: 100%;
}

/* Face */
.robot-face {
    height: 120px;
    width: 160px;
    background: var(--face-color);
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
    border: 8px solid var(--outline-color);
    border-radius: 45px;
}

.eyes-left, .eyes-right {
    height: 20px;
    width: 20px;
    background: var(--outline-color);
    border-radius: 100%;
    position: absolute;
    top: 40px;
}

.eyes-left {
   left: 30px 
}

.eyes-right {
    right: 30px
}

.mouth {
    height: 45px;
    width: 45px;
    border-radius: 100%;
    border: 8px solid transparent;
    border-bottom-color: var(--outline-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
}

.robot-ear-left, .robot-ear-right {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background: var(--background);
  border: 8px solid var(--outline-color);
  z-index: 3;
  top: 30px;
}
.robot-ear-left {
    left: -20px;
}

.robot-ear-right {
    right: -20px;
}

/* Body */
.robot-body {
  height: 50px;
  width: 100px;
  border: 8px solid var(--outline-color);
  background: var(--background);
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 25px 25px 30px 30px;
}


.robot-face::hover {
    top: 40px !important;
}

.eyes::hover {
    top: 30px !important;
}

.mouth::hover {
    background: var--(outline-color);
    border: none;
    clip-path: polygon(0% 30%, 100% 30%, 100% 100%, 0% 100%);
}

.mouth::hover::after {
    content: "";
    position: absolute;
    height: 80%;
    width: 80%;
    bottom: -30%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--tongue-color);
    border-radius: 100%;
}

#disclaimer {
    font-size: .7rem;
}

#advice-btn {
    background-color: red;
    border-radius: 1em;
}

#more-advice {
    border-radius: 1em;
}

#response-div {
    display: none;
}

.your-advice {
    background-color: red;
    border-radius: .7em;
}

footer {
    position: absolute;
    color: red;
    /* background-color: var(--mustard); */
    width: 100%;
    bottom: 0;
}

a {
    text-decoration: none;
    color: inherit;
}
.social {
    width: 2%;
    height: 2%;
}